<div *ngIf="hero">
    <h2>{{hero.name | uppercase}} Detalles</h2>
    <div><span> Id: </span>{{hero.id}}</div>
    <div>
        <br>
        <label for="hero-name">Villano Nombre: </label>
        <input id="hero-name" [(ngModel)]="hero.name" placeholder="name">
    </div>
    <div>
        <label for="hero-nivel"> Villano Edad: </label>
        <input id="hero-nivel" [(ngModel)]="hero.nivel" placeholder="nivel">
    </div>

    <div>
        <label for="hero-poder"> Villano Poder: </label>
        <input id="hero-poder" [(ngModel)]="hero.poder" placeholder="poder">
    </div>

    <div>
        <label for="hero-univers"> Villano universo: </label>
        <input id="hero-univers" [(ngModel)]="hero.univers" placeholder="univers">
    </div>
</div>