<h2>{{hero.name | uppercase}} Details</h2>      
<div><span>id: </span>{{hero.id}}</div>
<div>
<label for=" name ">Nombre del Super Heroe: </label>
<input id=" name "[(ngModel)]="hero.name" placeholder="name">
</div>
<br>
<br>
<div>
    <label for=" edad ">Edad del Super Heroe: </label>
    <input id=" edad "[(ngModel)]="hero.edad" placeholder="edad">
</div>
<br>
<br>
<div>
    <label for=" poder ">Poder del Super Heroe: </label>
    <input id=" poder "[(ngModel)]="hero.poder" placeholder="poder">
</div>
<br>
<br>
<div>
    <label for=" univers ">Universo del Super Heroe: </label>
    <input id=" univers "[(ngModel)]="hero.univers" placeholder="univers">
</div>